<body>
<%= form_for FakeModel.new, :url => sample_index_path do |f| %>

  <p>
    Reccuring date <br/>
    <%= f.select_recurring :recurring_rules %>
  </p>
  <div class="field">
    Time<br />
    <%= f.text_field :published_at_time, :class => 'datepicker', :size => 5, :maxlength => 5 %> 
  </div>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</body>
